.AccountPage main {
    margin-top: 6rem;
    margin-inline: 3rem;
    display: flex;
    gap: 1rem;
    font-family: 'DM Sans', 'sans serif';
}

@media screen and (max-width:620px) {
    .AccountPage main {
        margin-inline: 0;
        gap: 0.5rem;
    }
}

.AccountPage .leftSide {
    width: 30%;
    min-height: 82vh;
    border-radius: 20px 20px 0 0;
    background-image: linear-gradient(180deg, rgba(46, 48, 146, 1) 0%, rgba(14, 14, 44, 1) 100%);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 0.75rem;
    color: var(--yellow);
    font-weight: 500;
    overflow-x: hidden;
}

.AccountPage .leftSide>span {
    padding-bottom: 0.2rem;
}

.AccountPage .leftSide .activeIcon {

    border-bottom: 2px var(--yellow) solid;
    box-shadow: 0rem 0.5rem 1rem -0.6rem var(--yellow);
}

@media screen and (max-width:620px) {
    .AccountPage .leftSide {
        border-radius: 0 20px 0 0;
    }
}

@media screen and (max-width:800px) {
    .AccountPage .leftSide {
        width: 15%;
        align-items: center;
    }
}

.AccountPage .leftSide span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    width: fit-content;
}

@media screen and (max-width:800px) {
    .AccountPage .leftSide span p {
        display: none;
    }
}

.AccountPage .rightSide {
    width: 70%;
    min-height: 80vh;
    border-radius: 20px 20px 0 0;
    background-image: linear-gradient(180deg, rgba(239, 28, 36, 1) 0%, rgba(137, 16, 21, 1) 100%);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 0.5rem;
}

@media screen and (max-width:620px) {
    .AccountPage .rightSide {
        border-radius: 20px 0 0 0;
    }
}

@media screen and (max-width:800px) {
    .AccountPage .rightSide {
        width: 85%;
    }
}

.AccountPage .rightSide h1 {
    color: rgb(0, 0, 0);
    text-decoration: underline wavy black 2px;
}