.Box {
    padding: 2rem;
    background-image: linear-gradient(180deg, rgba(46, 48, 146, 1) 0%, rgba(14, 14, 44, 1) 100%);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    color: white;
    border-radius: 0.5rem;
    font-family: 'DM Sans', 'sans serif';
    position: relative;
    max-width: 45%;
}

@media screen and (max-width:800px) {
    .Box {
        max-width: 60%;
    }
}

@media screen and (max-width:700px) {
    .Box {
        max-width: 100%;
    }
}

.Box a {
    color: white;
}

.Box>div {
    margin-bottom: 0.75rem;
}

.Box .attachments * {
    margin-right: 0.25rem;
}

.Box .extraOptionsBtn {
    position: absolute;
    right: 0.5rem;
    top: 0;
    cursor: pointer;
    color: white;
    background: transparent;
    border: 0;
    font-size: 1.25rem;
}

.Box .extraOptions {
    position: absolute;
    right: 0.5rem;
    top: 1.75rem;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 5px;
    max-width: 50%;
    padding: 0.5rem 1rem;
    align-items: end;
}

.Box .extraOptions span {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    cursor: pointer;
}

.Box .extraOptions span svg {
    font-size: 1.25rem;
}

.Box .extraOptions span:not(:last-child) {
    text-align: right;
}

.Box .extraOptions .delete {
    color: var(--red);
}

.Box .extraOptions .edit {
    color: rgb(54, 54, 65);
}

.Box .sideways {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.Box .label {
    font-size: 1.05rem;
    font-weight: 600;
    display: block;
    color: var(--light-blue);
}

.Box .actions {
    margin-top: 1rem;
}

.Box .actions>* {
    width: 1.75rem;
    aspect-ratio: 1;
    margin-right: 0.5rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
}


.Box .actions {
    display: flex;
}

.Box .actions button:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
}

.Box .actions button:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
}

.Box .actions .notSelected {
    background-color: gray !important;
}

.Box .responses {
    display: flex;
    gap: 0.5rem;
    color: #F59191;
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 2rem;
    font-weight: 500;
}