@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


.ResponsesListPoll {
    overflow: scroll;
}

.ResponsesListPoll .Box {
    max-width: 25%;
    margin-inline: 3rem;
    margin-top: 3rem;
}

@media screen and (max-width:750px) {
    .ResponsesListPoll .Box {
        max-width: 100%;
    }
}

.ResponsesListPoll h1 {
    margin-top: 2rem;
    margin-inline: 3rem;
    font-family: 'DM Sans', 'sans serif';
    font-weight: 500;
    font-size: 2.5rem;
}

.ResponsesListPoll .exportButton {
    margin-inline: 3rem;
    margin-bottom: 1rem;
    border: 0;
    padding: 0.5rem;
    background-color: var(--yellow);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.ResponsesListPoll .errorMessage {
    margin-inline: 3rem;
    font-family: 'DM Sans', 'sans serif';
    font-size: 1.25rem;
    color: var(--red);
    text-decoration: underline wavy 1.5px red;
}