.NotificationSection {
    font-family: 'DM Sans', 'sans serif';
    font-weight: 500;
    margin-inline: 3rem;
    margin-bottom: 5rem;
}

.NotificationSection h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: black;
    display: inline-block;
}

.NotificationSection a {
    text-decoration: none;
}

.NotificationSection h2 span {
    margin-right: 0.5rem;
}

@media screen and (max-width:500px) {
    .NotificationSection h2 {
        font-size: 2.5rem;

    }
}