.PollsPage {
    font-family: 'DM Sans', 'sans serif';
}

.PollsPage h1 {
    font-size: 2.75rem;
    font-family: 'DM Sans', 'sans serif';
    font-weight: 400;
    margin: 4rem 3rem 0;
}

.PollsPage .BoxCollection {
    margin-inline: 3rem;
    margin-top: 2rem;
}

.PollsPage .errorMessage {
    margin-inline: 3rem;
    font-family: 'DM Sans', 'sans serif';
    font-size: 1rem;
    color: var(--red);
    text-decoration: underline wavy 1.5px red;
}