.Model {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    inset: 0;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', 'sans serif';
}

.Model>h3,
form {
    width: 50%;
}

.Model>button {
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: 0;
    cursor: pointer;
}

.Model h3 {
    font-size: 2rem;
    color: var(--yellow);
    text-decoration: underline wavy rgb(107, 90, 24) 2px;

}

.Model form {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.Model form label {
    color: rgb(229, 204, 16);
    font-weight: 500;
    font-size: 1.05rem;
}

.Model form input,
textarea {
    border: 0;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-family: inherit;
}

.Model form input[type=file] {
    padding-left: 0;
    color: var(--yellow);
}

.Model form input[type=file]::file-selector-button,
.Model form input[type=file]::-webkit-file-upload-button {
    font-family: 'DM Sans', 'sans serif';
    background: var(--yellow);
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.Model form input[type=file]::file-selector-button:hover {
    background: rgb(230, 184, 2);
}

.Model form input[type=file]::-webkit-file-upload-button:hover {
    background: rgb(230, 184, 2);
}

.Model form button {
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: var(--yellow);
    border: 0;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.Model .previewImagesContainer {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.Model .previewImage {
    height: 8rem;
    flex-grow: 1;
    flex-shrink: 1;
}


.Model .errorMessage {
    margin-top: 0;
    color: var(--red);
}

.Model .successMessage {
    color: var(--green);
}