.IndexPage .creditSection {
    font-family: 'DM Sans', 'sans serif';
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width:600px) {
    .IndexPage .creditSection {
        font-size: 0.75rem;
    }
}