.StudyMaterialBox {
    margin-inline: 3rem;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.StudyMaterialBox .title {
    font-family: inherit;
    font-weight: 600;
    font-size: 1.25rem;
}

.StudyMaterialBox .postedBy {
    font-family: inherit;
    font-size: 0.85rem;
    color: #858585;
}

.StudyMaterialBox .description {
    font-family: inherit;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.StudyMaterialBox .downloadLinks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.StudyMaterialBox .downloadLink {
    background-color: var(--yellow);
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    border-radius: 5px;
}